<div class="post-preview">
    <a href="<%- config.root %><%- item.path %>">
        <h2 class="post-title">
            <%- item.title || theme.default_post_title || "Untitled" %>
        </h2>
        <% if (item.subtitle && item.subtitle.length) { %>
            <h3 class="post-subtitle">
                <%- item.subtitle %>
            </h3>
        <% } %>
    </a>
    <p class="post-meta">
        <!-- Date and Author -->
        <%= item.date.format(config.date_format) %> tarihinde
        <% if(item.author) { %>
        <%- item.author %> tarafından
        <% } %> eklendi.
    </p>
</div>
<hr>